
/*.powerlaw_probs_container,*/
/*.logisticthreshold_probs_container,*/
/*.threshold_probs_container {*/
    /*display: none;*/
/*}*/

body, html {
    margin: 0;
    padding;
    height: 100%
}

a {
    font-size: 1.25em;
}

#content {
    padding: 25px;
}

#fade {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #ababab;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .70;
    filter: alpha(opacity=80);
}

#modal {
    display: none;
    position: absolute;
    top: 45%;
    left: 45%;
    width: 64px;
    height: 64px;
    padding: 30px 15px 0px;
    border: 3px solid #ababab;
    box-shadow: 1px 1px 10px #ababab;
    border-radius: 20px;
    background-color: white;
    z-index: 1002;
    text-align: center;
    overflow: auto;
}