<!DOCTYPE html>

<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>


<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>MicroBio - New Distro</title>
    <script src="/static/lib/js/ajax.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/static/js/functions.js"></script>
</head>
<body>

<a href="/">Home</a>
<a href="example.html">Example Distribution</a>
<a href="custom.html">New Distribution</a>
<a href="data.html">Visualize Data</a>


<div id="entry">

    <div id="setup" name="setup">

        <p>Number of Bins to add: <input type="text" id="bincreate" name="binacreate"/><br>

        <p>Min value of infecion data: <input type="text" id="min" name="min"/> <br>


        <p>Step value of infection data: <input type="text" id="step" name="step"/> <br>


        <p>Location of taken data: <input type="text" id="location" name="location"/> <br>

        <p>Mosquito species: <input type="text" id="species" name="species"/> <br>

            <br>

            <button type="button" onclick="createbins();showbins();"> Create</button>
            <a href="custom.html">
                <button type="button"> Reset</button>
            </a>

    </div>


    <br>

    <br>

    <div id="data_entry" name="data_entry" style="display:none">
        <form id="binsform" action="/compute" method="post" onsubmit="hideentry();">

            <div id="gen_forms">
            </div>
            <br>
            <button type="button" onclick="addfields()"> Add Bins</button>
            <button type="button" onclick="removefields()"> Remove Bins</button>
            <br><br>


            <p>Number of Samples: <input type="text" name="size" value="3000"/></p>

            <input type="hidden" id="location_form" name="location"/>

            <input type="hidden" id="species_form" name="species"/>


            <script>
                document.getElementById('location_form').values = document.getElementById('location').values;
                document.getElementById('species_form').values = document.getElementById('location').values;

            </script>

            <input type="checkbox" name="functionLaw[]" value="powerLaw"> Powerlaw Model
            <input type="checkbox" name="functionLaw[]" value="threshold"> Threshold Model<br>
            <input type="checkbox" name="functionLaw[]" value="logisticThreshold"> Logistic Threshold Model<br>

            <br>
            <input type="submit" value="Submit" onclick=" return checksum();">
        </form>
    </div>

</div>


<div id="modal">
    <img id="loader" src="/static/images/loading.gif"/>
</div>
<div id="fade"></div>
<div class="grid-container">

    <div id="graphs" name="graphs" style="width: 100%; display: table;">
        <div style="display: table-row">
            <div id="allGraphs" style="width: 800px; display: table-cell;"></div>
            <div id="subs" style="display:table-cell;"></div>
        </div>
    </div>

    <div id="container">
        <a id="downloadAnchorElem" style="display:none"></a>
        <a id="uploadAnchorElem"></a>
        <input type="file" id="selectFiles" style="display:none" value="Import"/>
        <button id="import" style="display:none">Import</button>

    </div>

</div>
<script src="/static/js/post_functions.js"></script>


</body>
</html>

